<!-- diff-modal.component.html -->
<div class="modal-header">
    <!-- <h4 class="modal-title text-center">Request Diff</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body ">
    <div class="row mb-2 justify-content-center" role="group">
        <!-- <button type="button" class="btn btn-warning mx-1" (click)="moveToNextDifference()">
            <i class="bi bi-arrow-up"></i>
        </button>
        <button type="button" class="btn btn-warning mx-1" (click)="moveToPreviousDifference()">
            <i class="bi bi-arrow-up"></i>
        </button> -->
    </div>

    <div class="">
        <table class="table mb-0">
            <thead class="border thead-light">
                <tr>
                    <th class="col-5">
                        <h5>Previous Value</h5>
                    </th>
                    <th class="col-2">
                        <button type="button" class="btn btn-warning mx-1" (click)="moveToNextDifference()">
                            <i class="bi bi-arrow-down"></i>
                        </button>
                        <button type="button" class="btn btn-warning mx-1" (click)="moveToPreviousDifference()">
                            <i class="bi bi-arrow-up"></i>
                        </button>
                    </th>
                    <th class="col-5">
                        <h5>New Value</h5>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table ">
            <tbody class="border">
                <tr>
                    <td class="col-5">
                        <pre
                            [innerHTML]="getHighlightedDiff(record.existingValue, record.newValue, true) | safeHtml"></pre>
                    </td>
                    <td class="col-2 ">
                    </td>
                    <td class="col-5">
                        <pre
                            [innerHTML]="getHighlightedDiff(record.existingValue, record.newValue, false) | safeHtml"></pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer justify-content-center">
    <ng-container *ngIf="tableMetaData?.tableName === 'acc_request_detail' && record?.status === 'PENDING'">
        <button type="button" class="btn btn-success" (click)="diffModalBtnClick('APPROVED')">Approve</button>
        <button type="button" class="btn btn-danger" (click)="diffModalBtnClick('REJECTED')">Reject</button>
    </ng-container>
    <ng-container *ngIf="tableMetaData?.tableName === 'acc_request' && record?.status === 'PENDING'">
        <button type="button" class="btn btn-warning" (click)="diffModalBtnClick('CANCELLED')">Cancel Request</button>
    </ng-container>
</div>