.table {
  table-layout: fixed;
  width: 100%;
}

.table-responsive {
  height: 300px;
  /* Set the desired height for the table */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.scrollable-content {
  overflow-y: auto;
  max-height: 350px; /* Set the desired height for the scrollable content */
}


pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator-line {
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
