<!-- diff-modal.component.html -->
<div class="modal-header">
    <h4 class="modal-title">JSON Diff</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th><h5>Existing Value</h5></th>
                <th><h5>New Value</h5></th>
            </tr>
            <tr>
                <!-- <td><pre>{{ existingValue | json }}</pre></td>
                <td><pre>{{ newValue | json }}</pre></td> -->
                <td><ngx-json-viewer [json]="existingValue"></ngx-json-viewer></td>
                <td><ngx-json-viewer [json]="newValue"></ngx-json-viewer></td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>